<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse">

                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>

            <a class="navbar-brand" href="/">
                Think <strong>&nbsp;&there4;&nbsp;</strong> Code
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/posts">Posts</a></li>
                <li class="dropdown">
                    <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">

                        Projects
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/sabina">Sabina</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                    <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">

                        <i class="fa fa-rss"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/rss.xml">RSS</a></li>
                        <li><a href="/atom.xml">Atom</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

